h1:focus {
    outline: none;
}

.content {
    padding-top: 1.1rem;
}

html, body {
    font-family: 'Cascadia Code', Helvetica, Arial, sans-serif;
    background-color: #0f0f0f;
    color: darkgreen;
}

h1 {
    color: green;
}

/* INPUT */

.editor {
    height: 500px;
    width: 100%;
}

/* OUPUT */

.output {
    border: none;
    background-color: #1e1e1e;
    width: 100%
}

.failure {
    color: indianred;
}

.regex {
    color: lawngreen;
}

/* COPY BUTTON */

button, a.button {
    padding: 5px 15px;
    background-color: #1e1e1e;
    color: green;
    border: none;
    cursor: pointer;
}

    button:hover, a.button:hover {
        background-color: #2e2e2e;
    }

/* NOTIFICATION */

.notify-init {
    opacity: 0;
}

.notify-show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.notify-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
}

/* TREE */

ul {
    list-style-type: none;
}

.caret::before {
    content: "\25B6";
    color: #2e2e2e;
    display: inline-block;
    margin-right: 3px;
    transform: rotate(90deg);
}

.bullet::before {
    content: "\2022";
    margin-right: 3px;
}

.tree-number {
    color: #b5cea8;
}

.tree-literal {
    color: #ce9178;
}
